/* Typography */

@font-face {
  font-family: "Celias-Regular";
  src: url("https://s3.us-west-2.amazonaws.com/filestorage-asset.wufoo.com/2b32d656-2a03-4a26-96a3-503a6be8c302/766efaac-836e-427a-8376-02c32228a17d")
      format("woff2"),
    url("https://s3.us-west-2.amazonaws.com/filestorage-asset.wufoo.com/2b32d656-2a03-4a26-96a3-503a6be8c302/e25fb4f0-4e25-4bd5-98fc-ca19171aedac")
      format("woff");
}

@font-face {
  font-family: "Walsheim Bold";
  src: url("https://s3.us-west-2.amazonaws.com/filestorage-asset.wufoo.com/2b32d656-2a03-4a26-96a3-503a6be8c302/a96ba0ac-1e24-4791-8d20-95d39a3815b2")
      format("woff2"),
    url("https://s3.us-west-2.amazonaws.com/filestorage-asset.wufoo.com/2b32d656-2a03-4a26-96a3-503a6be8c302/cd8b0501-2f21-468b-89ae-5e1d475c2896")
      format("woff");
}

form.wufoo {
  padding: 0 !important;
}

.wufoo label.desc,
.wufoo legend.desc {
  color: #272142 !important;
  font-size: 16px !important;
}
.wufoo .info h2 {
  font-family: "Walsheim Bold", sans-serif;
  font-size: 2.5rem !important;
}
.wufoo ul {
  font-family: "Celias-Regular", sans-serif;
}
.wufoo input.text,
.wufoo select.select,
.wufoo textarea.textarea {
  border-radius: 0.5rem !important;
  border: 1px solid #cccccc !important;
  box-shadow: 0px 4px 17px rgb(0 0 0 / 10%) !important;
  font-size: 0.85rem !important;
  outline: none;
}

.wufoo input.text:not(li.date input.text),
.wufoo select.select,
.wufoo textarea.textarea {
  padding: 0.75rem 5px !important;
}

.wufoo .submit {
  -webkit-appearance: none;
  display: inline-block;
  font-family: "Walsheim Bold", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: 0.02em;
  background: #06b67e;
  padding: 1rem 2rem;
  display: block;
  max-width: 20rem;
  border-radius: 10px;
  color: #ffffff;
  border: none;
}

.wufoo textarea.textarea {
  min-width: 99% !important;
}

.wufoo select.select {
  background-color: #272142;
  color: #fff !important;
  font-family: "Celias-Regular", sans-serif;
}

.wufoo .likert thead td,
.likert thead th {
  background-color: #eff3fe;
}

.wufoo table {
  border: 1px solid #eff3fe;
}

.wufoo .likert table thead {
  position: sticky !important;
  top: -16px;
}

.wufoo .likert table th {
  position: sticky !important;
  left: -5px;
}

.wufoo .likert tbody th,
.likert tbody td,
.likert tbody tr,
.likert tbody label {
  background-color: #fff !important;
}

.wufoo .likert tbody td:hover,
.likert tbody th:hover,
.likert tbody tr:hover {
  background-color: #fff !important;
}

.wufoo li.likert {
  max-height: 297px;
  overflow-y: auto !important;
  overflow-x: auto !important;
  padding: 16px 14px;
}

.wufoo li.likert::-webkit-scrollbar {
  width: 9px !important;
  height: 9px !important;
}

.wufoo li.likert::-webkit-scrollbar-track {
  background: #fff; /* color of the tracking area */
}

.wufoo li.likert::-webkit-scrollbar-thumb {
  background-color: #a9a9a9; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* border: 5px solid orange; /* creates padding around scroll thumb */
}

.wufoo li.focused {
  background-color: #fff !important;
  outline: none !important;
  border: none !important;
}

.confirm h2 {
  font-family: "Celias-Regular", sans-serif;
  color: #272142 !important;
  font-size: 24px !important;
}

.wufoo .submit:hover {
  background: #00a16f;
  cursor: pointer;
}

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 1px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #cccccc;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: #272142 !important;
}

input[type="checkbox"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 2px solid #cccccc;
  border-radius: 5px;
}

input[type="checkbox"]:checked {
  background-color: #272142 !important;
}

input[type="checkbox"]:checked:after {
  content: "\2713" !important;
  color: #fff;
  margin-left: 4px;
}

label.choice {
  margin: 0 !important;
  padding: 0 !important;
}

span.subfield,
input[type="hidden"] ~ span {
  display: flex;
  align-items: center;
}

span.subfield,
input[type="hidden"] ~ span {
  padding: 2px 0 5px 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  margin: 5px 0 0 5px !important;
}

.wufoo li.fullname > span {
  width: 24% !important;
}

.wufoo li.fullname > span {
  padding-right: 15px;
}

.wufoo li.fullname > span > input {
  width: 100% !important;
}

/* Borders */
#container {
  border: 0 solid #cccccc;
}
.wufoo .info {
  border-bottom: 1px dotted #cccccc;
  font-size: 1rem;
}

.wufoo .info div {
  font-family: "Celias-Regular", sans-serif;
  font-size: 1rem !important;
}

.wufoo .instruct {
  border: 1px solid #e6e6e6;
}

@media (min-width: 320px) and (max-width: 699px) {
  .wufoo input.text {
    width: 97% !important;
  }

  .wufoo select.select {
    width: 98% !important;
  }

  .wufoo textarea.textarea {
    min-width: 97% !important;
  }

  .wufoo li.fullname {
    display: flex;
    flex-direction: column;
  }

  .wufoo li.fullname > span {
    width: 97% !important;
    padding: 0 !important;
  }

  .wufoo li.likert {
    max-height: 322px !important;
    padding: 16px 5px;
  }
}

@media (min-width: 700) and (max-width: 1025px) {
  .wufoo li.likert {
    max-height: 311px !important;
    padding: 16px 10px;
  }
}
